<form action="/tags/edit" method="POST">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTagModalLabel">Редактировать тег</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" id="editTagId" name="tag_id" value="{{ tag.id }}">
        <div class="mb-3">
            <label for="editTagName" class="form-label">Название тега</label>
            <input type="text"
                    class="form-control"
                    id="editTagName"
                    name="name"
                    value="{{ tag.name }}"
                    placeholder="Например: «Новинки»"
                    maxlength="128"
                    required>
            <div class="form-text">
                Обновите название и сохраните изменения.
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
