<form action="/category/{{ category.id }}/edit" method="POST">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="editCategoryModalLabel">Редактировать категорию</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" id="editCategoryId" name="category_id" value="{{ category.id }}">
        <div class="row mb-3">
            <label for="editCategoryName" class="col-md-4 col-form-label">Название</label>
            <div class="col-md-8">
                <input name="name"
                       type="text"
                       class="form-control"
                       id="editCategoryName"
                       value="{{ category.name }}"
                       placeholder="Например: «Горячие напитки»"
                       maxlength="128"
                       required>
                <div class="form-text">Название должно быть уникальным в пределах хаба.</div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="editCategoryDescription" class="col-md-4 col-form-label">Описание</label>
            <div class="col-md-8">
                <textarea name="description"
                          class="form-control"
                          id="editCategoryDescription"
                          rows="4"
                          placeholder="Краткое описание категории"
                          maxlength="2048">{{ category.description | default(value='') }}</textarea>
                <div class="form-text">Очистите поле, чтобы убрать описание.</div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="editCategoryImageUrl" class="col-md-4 col-form-label">Изображение</label>
            <div class="col-md-8">
                <input name="image_url"
                       type="url"
                       class="form-control"
                       id="editCategoryImageUrl"
                       value="{{ category.image_url | default(value='') }}"
                       placeholder="https://example.com/image.jpg">
                <div class="form-text">Необязательно. Укажите ссылку изображение категории.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <img class="{% if category.image_url %}{% else %}d-none{% endif %}"
                     src="{{ category.image_url | default(value='') }}"
                     alt="Изображение"
                     width="128px"
                     id="editCategoryImage">
            </div>
            <div class="col-md-8">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value="true"
                           id="editCategoryArchived"
                           name="is_archived"
                           {% if category.is_archived %}checked{% endif %}>
                    <label class="form-check-label" for="editCategoryArchived">
                        Архивировать категорию
                    </label>
                </div>
                <div class="form-text">
                    Архивированные категории скрываются из списка по умолчанию, но сохраняются в базе данных.
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" form="deleteCategoryForm" class="btn btn-outline-danger">
            Удалить
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
<form id="deleteCategoryForm" method="POST" action="/category/{{ category.id }}/delete">
    <input type="hidden" name="category_id" id="deleteCategoryId" value="{{ category.id }}">
</form>
