<form method="POST" action="/price-level/{{ price_level.id }}/edit">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="editPriceModalLabel">Редактировать уровень цен</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <label for="editPriceName" class="col-md-4 col-form-label">Название</label>
            <div class="col-md-8">
                <input name="name"
                       type="text"
                       class="form-control"
                       id="editPriceName"
                       value="{{ price_level.name }}"
                       placeholder="Например: «Розница»"
                       maxlength="128"
                       required>
                <div class="form-text">Название должно быть уникальным в пределах хаба.</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-4">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value="true"
                           id="editPriceDefault"
                           name="default"
                           {% if price_level.is_default %}checked{% endif %}>
                    <label class="form-check-label" for="editPriceDefault">По умолчанию</label>
                </div>
                <div class="form-text">Сделайте уровень цен основным для всех новых клиентов.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
