{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <style>
        .price-level-default {
            border-left: 4px solid var(--bs-success);
            background-color: rgba(var(--bs-success-rgb), 0.08);
        }
    </style>
{% endblock %}

{% block content %}
{% include 'components/navigation.html' %}

<div class="container bg-white border rounded my-2">

    <div class="row">
        <div class="col text-center add-item-container">
            <button class="btn btn-link" type="button" data-bs-toggle="modal" data-bs-target="#priceModal">
                <i class="bi bi-plus-circle"></i>
            </button>
        </div>
    </div>

    {% include 'price_levels/price_level_list.html' %}
</div>

{% include 'price_levels/add_price_modal.html' %}

{% endblock %}
