<div class="row d-none d-sm-flex fw-bold">
    <div class="col-sm overflow-hidden">Название</div>
    <div class="col-sm overflow-hidden">Добавлено</div>
    <div class="col-sm overflow-hidden">Обновлено</div>
    <div class="col-sm-2 overflow-hidden text-sm-end">Действия</div>
</div>
<div id="priceList">
    {% for price in price_levels.items %}
    <div class="row my-1 py-1 border-top{% if price.is_default %} price-level-default{% endif %}" data-id="{{ price.id }}">
        <div class="col-sm">
            <span class="d-sm-none fw-bold">Название:</span>
            <span class="d-flex align-items-center gap-2">
                {{ price.name }}
                {% if price.is_default %}
                    <span class="badge text-bg-success-subtle text-success-emphasis border-success-subtle border">По умолчанию</span>
                {% endif %}
            </span>
        </div>
        <div class="col-sm">
            <span class="d-sm-none fw-bold">Добавлено:</span>
            {{ price.created_at | date }}
        </div>
        <div class="col-sm">
            <span class="d-sm-none fw-bold">Обновлено:</span>
            {{ price.updated_at | date }}
        </div>
        <div class="col-sm-2 col-12 d-flex justify-content-sm-end align-items-center mt-2 mt-sm-0">
            <span class="d-sm-none fw-bold me-2">Действия:</span>
            <button class="btn btn-sm btn-outline-warning d-flex align-items-center gap-2 me-2">
                <i class="bi bi-pen"></i>
                <span class="d-none d-sm-inline">Изменить</span>
            </button>
            <form method="POST" action="/price-levels/{{ price.id }}/delete">
                <button class="btn btn-sm btn-outline-danger d-flex align-items-center gap-2" type="submit">
                    <i class="bi bi-trash"></i>
                    <span class="d-none d-sm-inline">Удалить</span>
                </button>
            </form>
        </div>
    </div>
    {% else %}
        <div class="alert alert-warning my-2" role="alert">
            Нет уровней цен для отображения.
        </div>
    {% endfor %}
</div>

{{ macros::pagination(
    pages=price_levels.pages,
    current_page=price_levels.page,
    search=search | default(value=""),
) }}